body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    background-image: url('../assets/background.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
}

h2 {
    color: #4a4a4a;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
} 

.todo-form, .todo-list, .done-list {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}

.logo-container {
    grid-column: 1 / -1;
    text-align: center;
}

.time {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
    color: #888;
}

.profile h2, .todo-form h2, .todo-list h2, .done-list h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: left;
    color: #4a90e2;
}

textarea, select, input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 5px 5px 15px #d9d9d9, inset -5px -5px 15px #ffffff;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

textarea:focus, select:focus, input[type="date"]:focus {
    border: 1px solid #4a90e2;
    outline: none;
}

button {
    background: #4a90e2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

button:hover {
    background: #357ab7;
}

button#deleteAll {
    background: #e60000;  
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    display: block;  
    margin: 20px auto;  
    width: 50%;  
    border-radius: 8px;  
}

button#deleteAll:hover {
    background: #cc0000;  
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.done {
    text-decoration: line-through;
    color: grey;
}

.overdue {
    background-color: #ffe6e6;
    color: #e60000;
}

#doneList {
    list-style-type: none;
    padding-left: 0;
}

#doneList li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .time {
        grid-column: span 2;
    }

    table, textarea, select, input[type="date"], button {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        font-size: 1.7em;
    }

    textarea, select, input[type="date"], button {
        font-size: 1.1em;
    }

    table th, table td {
        padding: 20px;
    }
}
